streamlit
python-dotenv
pypdf
PyPDF2
python-docx
pandas
openpyxl
jsonschema
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
torch
torchvision
transformers
huggingface-hub
